<section>
  <div class="page-header">
    <div ng-if="!isEditing">
      <h1>Ansök stipendier från: {{ vm.scholorshipName }}</h1>
    </div>
    <div ng-if="isEditing">
      <h1>{{ vm.application.data.displayName + ' ansöker ' + (vm.application.data.scholorshipName || '...') }}</h1>
    </div>
  </div>
  <div class="col-md-12">
    <form name="applicationForm" class="form-horizontal" role="form" ng-submit="vm.save(applicationForm.$valid)" novalidate>

      <div class="col-md-5">


        <h2>Personuppgifter</h2>

        <div class="form-group" ng-repeat="q in personQuestions">
          <label class="control-label col-sm-3" for="{{ q.name }}">{{ q.question }}:</label>
          <div class="col-sm-9">
            <input name="{{ q.name }}" type="text" ng-model="q.variable" id="{{ q.name }}" class="form-control" placeholder="{{ q.placeholder }}" required>
          </div>
          <div ng-messages="applicationForm.{{ q.name }}.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ q.question }} är obligatorisk.</p>
          </div>
        </div>



      </div>
      <div class="col-md-5 col-md-offset-1">
        <!-- TODO: Add university-points, assignments, earlierScholorships and interruption  --!>
        <div class="form-group">
          <h2>Högskolepoäng</h2>
          <label class="control-label col-sm-3" for="total">Totalt:</label>
          <div class="col-sm-9">
            <input name="total" type="number" ng-model="user.universitypoints.total" id="total" class="form-control" placeholder="total" required>
          </div>
          <div ng-repeat="semester in user.universitypoints.semesters">
            <label class="control-label col-sm-3" for="{{ semester.name }}">{{ semester.name }}:</label>
            <div class="col-sm-9">
              <input name="{{ semester.name }}" type="number" ng-model="semester.points" id="{{ semester.name }}point" class="form-control" placeholder="{{ semester.points }}" required>
            </div>

          </div>
          <button ng-click="addSemester(user.universitypoints.semesters)" class="btn btn-warning">Lägg till äldre termin</button>
        </div>



        <div class="form-group">
          <label class="control-label col-sm-3" for="semesterstudied">Antal terminer studerat ink nuvarande</label>
          <div class="col-sm-9">
            <input name="semesterstudied" type="text" ng-model="vm.semesterStudied" id="semesterstudied" class="form-control" required>
          </div>
          <div ng-messages="applicationForm.semesterstudied.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Antal terminer studerat är obligatorisk.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="semesternation">Antal terminer i nationen ink nuvarande</label>
          <div class="col-sm-9">
            <input name="semesternation" type="text" ng-model="vm.semesterNation" id="semesternation" class="form-control" required>
          </div>
          <div ng-messages="applicationForm.semesternation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Antal terminer i nationen är obligatorisk.</p>
          </div>
        </div>
      <div class="form-group">
        <div ng-if="isEditing">
          <a data-ui-sref="applications.list" class="btn btn-primary">Tillbaka</a>
        </div>
        <button type="submit" class="btn btn-primary pull-right">{{vm.application._id ? 'Uppdatera' : 'Skicka ansökan'; }}</button>
        <button onclick="window.history.back();" class="btn btn-default pull-right">Tillbaka</button>
        <div ng-bind="vm.error"></div> 
      </div>
    </div>
      <div class="row">
        <div class="col-md-4">
        </div>
      </div>
    </form>
  </div>
</section>
