<section>
  <div class="page-header">
    <div ng-if="!isEditing">
      <h1>Ansök stipendier från: {{ vm.scholorshipName }}</h1>
    </div>
    <div ng-if="isEditing">
      <h1>{{ vm.application.data.displayName + ' ansöker ' + (vm.application.data.scholorshipName || '...') }}</h1>
    </div>
  </div>
    <form name="applicationForm" class="form-horizontal" role="form" ng-submit="vm.save(applicationForm.$valid)" novalidate>
  <div class="col-md-12">

      <div class="col-md-6">
        <h2>Personuppgifter</h2>
        <div class="form-group" ng-repeat="q in personQuestions">
          <label class="control-label col-sm-3" for="{{ q.name }}">{{ q.question }}:</label>
          <div class="col-sm-8">
            <input name="{{ q.name }}" type="text" ng-model="q.variable" id="{{ q.name }}" class="form-control" placeholder="{{ q.placeholder }}" required>
          </div>
          <div ng-messages="applicationForm.{{ q.name }}.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ q.question }} är obligatorisk.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="semesterstudied">Antal terminer studerat ink nuvarande</label>
          <div class="col-sm-8">
            <input name="semesterstudied" type="text" ng-model="vm.semesterStudied" id="semesterstudied" class="form-control" required>
          </div>
          <div ng-messages="applicationForm.semesterstudied.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Antal terminer studerat är obligatorisk.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="semesternation">Antal terminer i nationen ink nuvarande</label>
          <div class="col-sm-8">
            <input name="semesternation" type="text" ng-model="vm.semesterNation" id="semesternation" class="form-control" required>
          </div>
          <div ng-messages="applicationForm.semesternation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Antal terminer i nationen är obligatorisk.</p>
          </div>
        </div>
      </div>

      <ng-form name="universityPointsForm" class="form-horizontal col-md-6" role="form" ng-submit="vm.universityPointsSave(universityPoints.$valid)" novalidate>
          <div class="form-group">
            <h2>Högskolepoäng</h2>
            <label class="control-label col-sm-3" for="total">Totalt:</label>
            <div class="col-sm-9">
              <input name="total" type="number" ng-model="user.universitypoints.total" id="total" class="form-control" placeholder="total" required>
            </div>
            <div ng-repeat="semester in user.universitypoints.semesters">
              <label class="control-label col-sm-3" for="{{ semester.name }}">{{ semester.name }}:</label>
              <div class="col-sm-9">
                <input name="{{ semester.name }}" type="number" ng-model="semester.points" id="{{ semester.name }}point" class="form-control" placeholder="{{ semester.points }}" required>
              </div>
            </div>
            <button ng-click="addSemester(user.universitypoints.semesters)" class="btn btn-warning">Lägg till äldre termin</button>
          </div>
      </ng-form>

      <ng-form name="assignmentsForm" class="form-horizontal col-md-6 " role="form" novalidate>
        <div class="form-group">
          <h2>Uppdrag på nationen</h2>
          <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
              <td style="width:20%">Termin</td>
              <td style="width:30%">Typ</td>
              <td style="width:30%">Post</td>
              <td style="width:5%"></td>
            </tr>
            <tr ng-repeat="a in user.assignments track by $index">
              <td>
                <div ng-show="!user.assignments[$index].edit">
                  <span>{{ a.semester }}</span>
                </div>
                <div ng-show="user.assignments[$index].edit">
                  <input type="string" ng-model="a.semester" id="{{ $index }}-sem-ass" placeholder="Ex:HT16..." class="form-control" required>
                </div>
              </td>
              <td>
                <div ng-show="!user.assignments[$index].edit">
                  <span>{{ a.assignmenttype }}</span>
                </div>
                <div ng-show="user.assignments[$index].edit">
                  <input name="{{ a.assignmenttype }}" type="string" ng-model="a.assignmenttype" id="{{ $index }}-type-ass" class="form-control" required>
                </div>
              </td>
              <td>
                <div ng-show="!user.assignments[$index].edit">
                  <span>{{ a.name }}</span>
                </div>
                <div ng-show="user.assignments[$index].edit">
                  <input name="{{ a.name }}" type="string" ng-model="a.name" id="{{ $index }}-name-ass" class="form-control" required>
                </div>
              </td>
              <td style="white-space: nowrap">
                <div class="buttons" ng-show="user.assignments[$index].edit">
                  <button type="button" class="btn btn-primary" ng-click="saveAssignment($index, assignmentsForm.$valid)"><i class="glyphicon glyphicon-ok"></i></button>
                  <button type="button" class="btn btn-danger" ng-click="deleteAssignment($index)"><i class="glyphicon glyphicon-trash"></i></button>
                </div>  
                <div class="buttons" ng-show="!user.assignments[$index].edit">
                  <button type="button" class="btn btn-primary" ng-click="user.assignments[$index].edit = true;"><i class="glyphicon glyphicon-edit"></i></a>
                </div>  
              </td>
            </tr>
          </table>
          <p class="text-danger" ng-bind="assignmenterror"></p>
          <button ng-click="addAssignment(user.assignments)" class="btn btn-warning">Lägg till uppdrag</button>
        </div>
      </ng-form>

      <ng-form name="earlierScholorshipsForm" class="form-horizontal col-md-6 " role="form" novalidate>
        <div class="form-group">
          <h2>Tidigare erhållna stipendier</h2>
          <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
              <td style="width:20%">Termin</td>
              <td style="width:20%">Namn</td>
              <td style="width:20%">Summa</td>
              <td style="width:25%"></td>
            </tr>
            <tr ng-repeat="a in user.earlierScholorships track by $index">
              <td>
                <div ng-show="!user.earlierScholorships[$index].edit">
                  <span>{{ a.semester }}</span>
                </div>
                <div ng-show="user.earlierScholorships[$index].edit">
                  <input type="string" ng-model="a.semester" id="{{ $index }}-sem-ear" placeholder="Ex:HT16..." class="form-control" required>
                </div>
              </td>
              <td>
                <div ng-show="!user.earlierScholorships[$index].edit">
                  <span>{{ a.name }}</span>
                </div>
                <div ng-show="user.earlierScholorships[$index].edit">
                  <input type="string" ng-model="a.name" id="{{ $index }}-name-ear" class="form-control" required>
                </div>
              </td>
              <td>
                <div ng-show="!user.earlierScholorships[$index].edit">
                  <span>{{ a.money }}</span>
                </div>
                <div ng-show="user.earlierScholorships[$index].edit">
                  <input type="string" ng-model="a.money" id="{{ $index }}-money-ear" class="form-control" required>
                </div>
              </td>
              <td style="white-space: nowrap">
                <div class="buttons" ng-show="user.earlierScholorships[$index].edit">
                  <button type="button" class="btn btn-primary" ng-click="saveEarly($index, earlierScholorshipsForm.$valid)"><i class="glyphicon glyphicon-ok"></i></button>
                  <button type="button" class="btn btn-danger" ng-click="deleteEarly($index)"><i class="glyphicon glyphicon-trash"></i></button>
                </div>  
                <div type="button" class="buttons" ng-show="!user.earlierScholorships[$index].edit">
                  <button type="button" class="btn btn-primary" ng-click="user.earlierScholorships[$index].edit = true;"><i class="glyphicon glyphicon-edit"></i></a>
                </div>  
              </td>
            </tr>
          </table>
          <p class="text-danger" ng-bind="earlierScholorshiperror"></p>
          <button type="button" ng-click="addEarlierScholorship(user.earlierScholorships)" class="btn btn-warning">Lägg till tidigare erhållen stipendium</button>
        </div>
      </ng-form>

      <ng-form name="interruptionForm" class="form-horizontal col-md-6 " role="form" novalidate>
        <div class="form-group">
          <h2>Avbrott från studier</h2>
          <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
              <td style="width:20%">Period</td>
              <td style="width:20%">Anledning</td>
              <td style="width:25%"></td>
            </tr>
            <tr ng-repeat="a in user.interruption track by $index">
              <td>
                <div ng-show="!user.interruption[$index].edit">
                  <span>{{ a.why }}</span>
                </div>
                <div ng-show="user.interruption[$index].edit">
                  <input type="string" ng-model="a.why" id="{{ $index }}-why-int" class="form-control" required>
                </div>
              </td>
              <td>
                <div ng-show="!user.interruption[$index].edit">
                  <span>{{ a.when }}</span>
                </div>
                <div ng-show="user.interruption[$index].edit">
                  <input type="string" ng-model="a.when" id="{{ $index }}-when-int" class="form-control" required>
                </div>
              </td>
              <td style="white-space: nowrap">
                <div class="buttons" ng-show="user.interruption[$index].edit">
                  <button type="button" class="btn btn-primary" ng-click="saveInterruption($index, interruptionForm.$valid)"><i class="glyphicon glyphicon-ok"></i></button>
                  <button class="btn btn-danger" ng-click="deleteInterruption($index)"><i class="glyphicon glyphicon-trash"></i></button>
                </div>  
                <div type="button" class="buttons" ng-show="!user.interruption[$index].edit">
                  <button type="button" class="btn btn-primary" ng-click="user.interruption[$index].edit = true;"><i class="glyphicon glyphicon-edit"></i></a>
                </div>  
              </td>
            </tr>
          </table>
          <p class="text-danger" ng-bind="interruptionerror"></p>
          <button type="button" ng-click="addInterruption(user.interruption)" class="btn btn-warning">Lägg till avbrott</button>
        </div>
      </ng-form>

      <div class="form-group">
        <div ng-if="isEditing">
          <a data-ui-sref="applications.list" class="btn btn-primary">Tillbaka</a>
        </div>
        <button type="submit" class="btn btn-primary pull-right">{{vm.application._id ? 'Uppdatera' : 'Nästa steg'; }}</button>
        <button onclick="window.history.back();" class="btn btn-default pull-right">Tillbaka</button>
        <div class="pull-right text-danger" ng-bind="vm.error"></div> 
      </div>
    </div>
  </form>
  </div>
</section>
