<section>
  <div class="page-header">
    <div ng-if="!isEditing">
      <h1>Ansök stipendier från: {{ vm.scholorshipName }}</h1>
    </div>
    <div ng-if="isEditing">
      <h1>{{ vm.application.data.displayName + ' ansöker ' + (vm.application.data.scholorshipName || '...') }}</h1>
    </div>
  </div>
  <div class="col-md-12">
    <form name="applicationForm" class="form-horizontal" role="form" ng-submit="vm.save(applicationForm.$valid)" novalidate>

      <div class="col-md-5">
        <h2>Personuppgifter</h2>
        <div class="form-group" ng-repeat="q in personQuestions">
          <label class="control-label col-sm-3" for="{{ q.name }}">{{ q.question }}:</label>
          <div class="col-sm-9">
            <input name="{{ q.name }}" type="text" ng-model="q.variable" id="{{ q.name }}" class="form-control" placeholder="{{ q.placeholder }}" required>
          </div>
          <div ng-messages="applicationForm.{{ q.name }}.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ q.question }} är obligatorisk.</p>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <!-- TODO: Add university-points, assignments, earlierScholorships and interruption  --!>
        <div class="form-group">
          <h2>Högskolepoäng</h2>
          <label class="control-label col-sm-3" for="total">Totalt:</label>
          <div class="col-sm-9">
            <input name="total" type="number" ng-model="user.universitypoints.total" id="total" class="form-control" placeholder="total" required>
          </div>
          <div ng-repeat="semester in user.universitypoints.semesters">
            <label class="control-label col-sm-3" for="{{ semester.name }}">{{ semester.name }}:</label>
            <div class="col-sm-9">
              <input name="{{ semester.name }}" type="number" ng-model="semester.points" id="{{ semester.name }}point" class="form-control" placeholder="{{ semester.points }}" required>
            </div>

          </div>
          <button ng-click="addSemester(user.universitypoints.semesters)" class="btn btn-warning">Lägg till äldre termin</button>
        </div>
        </div>

      <div class="col-md-5 col-md-offset-1">
        <div class="form-group">
          <h2>Uppdrag på nationen</h2>
          <div ng-repeat="a in user.assignments">
            <div class="col-sm-9">
              <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                  <td style="width:20%">Termin</td>
                  <td style="width:20%">Typ</td>
                  <td style="width:20%">Post</td>
                  <td style="width:15%">Beskrivning</td>
                  <td style="width:25%"></td>
                </tr>
                <tr ng-repeat="a in user.assignments">
                  <td>
                    <!-- editable personnumber (text with validation) -->
                    <span editable-text="a.semester" e-name="semester" e-form="rowform" e-required>
                      {{ a.semester }}
                    </span>
                  </td>
                  <td>
                    <!-- editable name (text with validation) -->
                    <span editable-text="a.type" e-name="type" e-form="rowform" e-required>
                      {{ a.type }}
                    </span>
                  </td>
                  <td>
                    <!-- editable universitypoints (text with validation) -->
                    <span editable-text="a.name" e-name="name" e-form="rowform" e-required>
                      {{ a.name }}
                    </span>
                  </td>
                  <td>
                    <!-- editable bank (text with validation) -->
                    <span editable-text="a.description" e-name="description" e-form="rowform" e-required>
                      {{ a.description }}
                    </span>
                  </td>
                  <td style="white-space: nowrap">
                    <div class="buttons" ng-show="!rowform.$visible">
                      <a data-ui-sref="applications.view({ applicationId: a._id })" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
                      <button class="btn btn-danger" ng-click="removeApplication($index)"><i class="glyphicon glyphicon-trash"></i></button>
                    </div>  
                  </td>
                </tr>
              </table>
          </div>
          <button ng-click="addAssignment(user.assignments)" class="btn btn-warning">Lägg till uppdrag</button>
        </div>
      </div>



        <div class="form-group">
          <label class="control-label col-sm-3" for="semesterstudied">Antal terminer studerat ink nuvarande</label>
          <div class="col-sm-9">
            <input name="semesterstudied" type="text" ng-model="vm.semesterStudied" id="semesterstudied" class="form-control" required>
          </div>
          <div ng-messages="applicationForm.semesterstudied.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Antal terminer studerat är obligatorisk.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="semesternation">Antal terminer i nationen ink nuvarande</label>
          <div class="col-sm-9">
            <input name="semesternation" type="text" ng-model="vm.semesterNation" id="semesternation" class="form-control" required>
          </div>
          <div ng-messages="applicationForm.semesternation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Antal terminer i nationen är obligatorisk.</p>
          </div>
        </div>
      <div class="form-group">
        <div ng-if="isEditing">
          <a data-ui-sref="applications.list" class="btn btn-primary">Tillbaka</a>
        </div>
        <button type="submit" class="btn btn-primary pull-right">{{vm.application._id ? 'Uppdatera' : 'Skicka ansökan'; }}</button>
        <button onclick="window.history.back();" class="btn btn-default pull-right">Tillbaka</button>
        <div ng-bind="vm.error"></div> 
      </div>
    </div>
      <div class="row">
        <div class="col-md-4">
        </div>
      </div>
    </form>
  </div>
</section>
