<section>
  <div class="page-header">
    <h1>Stipendiumansökningar</h1>
  </div>
  <div class="list-group">
    <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td style="width:20%">Personnummer</td>
        <td style="width:20%">Namn</td>
        <td style="width:10%">Högskolepoäng</td>
        <td style="width:10%">Bank</td>
        <td style="width:20%">Bankkonto</td>
        <td style="width:25%"></td>
      </tr>
      <tr ng-repeat="a in applications">
        <td>
          <!-- editable personnumber (text with validation) -->
          <span editable-text="a.data.personNumber" e-name="personnumber" e-form="rowform" e-required>
            {{ a.data.personNumber || 'XXXXXX-XXXX' }}
          </span>
        </td>
        <td>
          <!-- editable name (text with validation) -->
          <span editable-text="a.data.name" e-name="name" e-form="rowform" e-required>
            {{ a.data.displayName }}
          </span>
        </td>
        <td>
          <!-- editable universitypoints (text with validation) -->
          <span editable-text="a.data.universitypoints.total" e-name="universitypoints" e-form="rowform" e-required>
            {{ a.data.universitypoints.total || '0' }}
          </span>
        </td>
        <td>
          <!-- editable bank (text with validation) -->
          <span editable-text="a.data.bank" e-name="bank" e-form="rowform" e-required>
            {{ a.data.bank || '' }}
          </span>
        </td>
        <td>
          <!-- editable username (text with validation) -->
          <span editable-text="a.data.bankaccount" e-name="bankaccount" e-form="rowform" e-required>
            {{ a.data.bankaccount || '' }}
          </span>
        </td>
        <td style="white-space: nowrap">
          <div class="buttons" ng-show="!rowform.$visible">
            <a data-ui-sref="applications.view({ applicationId: a._id })" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
            <button class="btn btn-danger" ng-click="removeApplication($index)"><i class="glyphicon glyphicon-trash"></i></button>
          </div>  
        </td>
      </tr>
    </table>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.applications.$resolved && !vm.applications.length">
    Det finns inga ansökningar än.
  </div>
</section>
