<section>
  <div class="page-header">
    <h1>{{ title }}</h1>
  </div>
  <div class="list-group">
    <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td style="width:7%">Skapat</td>
        <td style="width:7%">Personnummer</td>
        <td style="width:20%">Namn</td>
        <td style="width:5%">Högskolepoäng</td>
        <td style="width:5%" ng-repeat="semester in vm.semesters">{{ semester.name }}</td>
        <td style="width:5%">Bank</td>
        <td style="width:10%">Bankkonto</td>
        <td style="width:10%">Utdelning</td>
        <td style="width:5%"></td>
      </tr>
      <tr ng-repeat="a in applications">
        <td>
          <span>{{ dateFilter(a.created, 'yyyy-MM-dd') }}</span>
        </td>
        <td>
          <span>{{ a.data.personNumber || 'XXXXXX-XXXX' }}</span>
        </td>
        <td>
            <span>{{ a.data.displayName }}</span>
        </td>
        <td>
            <span>{{ a.data.universitypoints.total || '0' }}</span>
        </td>
        <td ng-repeat="semester in vm.semesters track by $index">
            <span>{{ a.data.universitypoints.semesters[$index].points || '0' }}</span>
        </td>
        <td>
            <span>{{ a.data.bank || '' }}</span>
        </td>
        <td>
            <span>{{ a.data.bankaccount || '' }}</span>
        </td>
        <td>
            <span>{{ a.data.allowance || '0' }}</span>
        </td>
        <td style="white-space: nowrap">
          <div class="buttons" ng-show="!rowform.$visible">
            <a data-ui-sref="applications.view({ applicationId: a._id })" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
            <button class="btn btn-danger" ng-click="removeApplication($index)"><i class="glyphicon glyphicon-trash"></i></button>
          </div>  
        </td>
      </tr>
      <tr class="active">
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td> <b>Totalt</b> </td>
        <td> {{ totalFunds || 0 }} </td>
        <td> </td>
      </tr>
    </table>
    <button ng-click="exportToExcel()">Exportera till Excel</button>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.applications.$resolved && !vm.applications.length">
    Det finns inga ansökningar än.
  </div>
</section>
