<section>
  <div class="page-header">
    <h1>Scholorships</h1>
  </div>
  <div data-ng-repeat="l in vm.lists">
    <div class="list-group" data-ng-show="l.list.length > 0">
      <h4>{{ l.title }}</h4>
      <a data-ng-repeat="scholorship in l.list"
         data-ui-sref="scholorships.view({ scholorshipId: scholorship._id })"
         class="list-group-item">
        <small class="list-group-item-text">
          Ansökningsperiod: {{ dateFilter(scholorship.startDate) }} 
          - {{ dateFilter(scholorship.endDate) }}
        </small>
        <h4 class="list-group-item-heading" data-ng-bind="scholorship.name"></h4>
      </a>
    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.scholorships.$resolved && !vm.scholorships.length">
    No Scholorships yet, why don't you <a data-ui-sref="scholorships.create">create one</a>?
  </div>
</section>
