<section>
  <div class="page-header">
    <h1>Användarvillkor</h1>
  </div>
  <button onclick="window.history.back();" class="btn btn-default ">Tillbaka</button>
  <hr>

  <!-- 
    Tips på användarvillkor:
      - https://www.payson.se/sv/anvandarvillkor/#v7
      - http://www.motivation.se/villkor
      - http://www.nikon.se/sv_SE/footers/terms_use.page?lid=3&lidsub1=0&lidsub2=0&lidsub3=0&lidsub4=0&sParamValueLbl=Terms%20of%20Use&sParamValue=&dcr=
      - 
      - 

  -->
  
  
  <div class="section">
    <h3>Hoppa direkt till:</h3>
    <ol>
    <li><a href="#v1">Integritetspolicy</a></li>
    <li><a href="#v1">Personuppgiftsansvar</a></li>
    <li><a href="#v1">Personuppgiftsbehandling</a></li>
    <li><a href="#v1">Bevarande av personuppgifter</a></li>
    <li><a href="#v1">Gallring av personuppgifter</a></li>
    <li><a href="#v1">IT-säkerhet</a></li>
    <li><a href="#v1">Spärrlista</a></li>
    <li><a href="#v1">Personuppgiftsombud</a></li>
    <li><a href="#v1">Registerutdrag</a></li>
    <li><a href="#v1">Ansvarsskyldighet</a></li>
    <li><a href="#v1">Skadestånd</a></li>
    <li><a href="#v1">Godkännande av villkor</a></li>
    <li><a href="#v1">TILLÅTEN OCH OTILLÅTEN ANVÄNDNING</a></li>
    <li><a href="#v1">RÄTTIGHETER</a></li>
    <li><a href="#v1">TILLGÄNGLIGHET</a></li>
    <li><a href="#v1"> </a></li>
    <li><a href="#v1"> </a></li>
    <li><a href="#v1"> </a></li>
    </ol>
  </div>

  
  
</section>
