<section>
  <div class="page-header">
    <h2>Ansökan</h2>
  <button onclick="window.history.back();" class="btn btn-default ">Tillbaka</button>
  </div>
  <div class="row">
    <div ng-show="!editAllowance">
      <label class="col-sm-3 text-right">Utdelning (kr):</label>
      <div class="col-sm-9" ng-bind="vm.allowance"></div>
    </div>
    <div ng-show="editAllowance">
      <label class="col-sm-3 text-right">Utdelning:</label>
      <input type="string" ng-model="vm.allowance" class="col-sm-9" ></input>
    </div>
  </div>
    <div class="buttons" ng-show="editAllowance">
      <button type="button" class="btn btn-primary" ng-click="updateAllowance()">
        <i class="glyphicon glyphicon-ok"></i>
        Spara utdelningssumma
      </button>
    </div>  
    <div type="button" class="buttons" ng-show="!editAllowance">
      <button type="button" class="btn btn-primary" ng-click="editAllowance = true"><i class="glyphicon glyphicon-edit"></i>
      Uppdatera utdelning till denna ansökan
    </div>  
  </div>
  <hr>



  <div class="row">
    <label class="col-sm-3 text-right">Ansökan-id:</label>
    <div class="col-sm-9" ng-bind="vm.application._id"></div>
  </div>
  <div class="row">
    <label class="col-sm-3 text-right">Namn:</label>
    <div class="col-sm-9" ng-bind="vm.application.data.displayName"></div>
  </div>
  <div class="row">
    <label class="col-sm-3 text-right">Sökt Stipendium:</label>
    <div class="col-sm-8" ng-bind="vm.application.data.scholorshipName"></div>
  </div>
  <div class="row">
    <label class="col-sm-3 text-right">Antal terminer studerat:</label>
    <div class="col-sm-8" ng-bind="vm.application.semesterStudied"></div>
  </div>
  <div class="row">
    <label class="col-sm-3 text-right">Antal terminer i nationen:</label>
    <div class="col-sm-8" ng-bind="vm.application.semesterNation"></div>
  </div>
  <div class="row" ng-repeat="q in personQuestions">
    <label class="col-sm-3 text-right">{{ q.question }}:</label>
    <div class="col-sm-8" ng-bind="q.variable"></div>
  </div>



  <h3>Högskolepoäng</h3>
  <div class="row">
    <label class="col-sm-3 text-right">Totalt:</label>
    <div class="col-sm-9" ng-bind="vm.application.data.universitypoints.total"></div>
  </div>
  <div class="row" ng-repeat="semester in vm.application.data.universitypoints.semesters">
    <label class="col-sm-3 text-right" >{{ semester.name }}:</label>
    <div class="col-sm-9">
      <span>{{ semester.points}}</span>
    </div>
  </div>

  <div class="row">
    <h3>Uppdrag på nationen</h3>
    <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td style="width:20%">Termin</td>
        <td style="width:30%">Post</td>
      </tr>
      <tr ng-repeat="a in vm.application.data.assignments track by $index">
        <td>
            <span>{{ a.semester }}</span>
        </td>
        <td>
            <span>{{ a.name }}</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <h3>Tidigare erhållna stipendier</h3>
    <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td style="width:20%">Termin</td>
        <td style="width:20%">Namn</td>
        <td style="width:20%">Summa</td>
      </tr>
      <tr ng-repeat="a in user.earlierScholorships track by $index">
        <td>
            <span>{{ a.semester }}</span>
        </td>
        <td>
            <span>{{ a.name }}</span>
        </td>
        <td>
            <span>{{ a.money }}</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <h3>Avbrott från studier</h3>
    <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td style="width:20%">Period</td>
        <td style="width:20%">Anledning</td>
      </tr>
      <tr ng-repeat="a in user.interruption track by $index">
        <td>
            <span>{{ a.why }}</span>
        </td>
        <td>
            <span>{{ a.when }}</span>
        </td>
      </tr>
    </table>
  </div>
    
    
  <div class="pull-right"
       data-ng-show="(vm.authentication.user.roles.indexOf('admin')+1)">
    <a class="btn btn-primary"
       data-ui-sref="applications.edit({ applicationId: vm.application._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-danger" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.application.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.application.user"
            data-ng-bind="vm.application.user.displayName"></span>
      <span data-ng-if="!vm.application.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.scholorship.content"></p>
</section>
