<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="STIPENDIFY" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Stipendiumansökningssystem för Studentföreningar.
      </p>
      <h1 class="lead">
        [BETA]
      </h1>
      <p class="text-big">
        Alla funktioner är ej implementerade än, kom gärna med förslag!
      </p>
      <p class="text-muted">
        Utvecklat av <a href="http://www.shapeapp.se">Shape App</a>
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" data-ui-sref="scholorships.list" >Se utlysta stipendium</a>
      </p>
    </div>
  </div>
  <div>
  <div class="row">
    <div class="col-md-4">
      <h2>Om Stipendify</h2>
        <p>Detta system är ett open source projekt utvecklat som en övning för <a href="http://www.shapeapp.se">Shape App</a> att lära sig utveckla meanjs-projekt. Målet med projektet är att bygga ett system för att underlätta stipendiumansökningar och översikt. Det finns ett inloggningssystem som tillåter att information sparas för de sökande nästa termin och underlättar deras ansökning. Projektet är gratis för alla att utnyttja och vidareutveckla på egen risk. ShapeApp ansvarar inte för er användning av systemet. </p>
    </div>
    <div class="col-md-4">
      <h2>För Studentföreningar</h2>
      <p>Om din studentförening är intresserade av att utnyttja systemet så kör på. Be era IT-ansvariga att ladda ner koden från github och köra igång den på er server. ShapeApp kan erbjuda hosting för er, då tillkommer en avgift som får förhandlas. Kontakta i sådana fall: <a href="mailto:c@shapeapp.se">c@shapeapp.se</a>. Vid andra frågor, buggar ellerönskan om funktioner kontakta återigen: <a href="mailto:c@shapeapp.se">c@shapeapp.se</a>
    </p>
    </div>
    <div class="col-md-4">
      <h2>För utvecklare</h2>
      <p>Stipendify är byggt med <a href="http://meanjs.org"/>MEANjs</a> och yeoman för att generera koden. Koden till detta projekt finns på github; <a href="https://github.com/cNille/stipendify">https://github.com/cNille/stipendify</a>. Jag antar att ni sen innan känner till npm och grunt för att kunna få igång projektet. Om inte, eller om ni har andar frågor får ni kontakta mig på <a href="mailto:c@shapeapp.se">c@shapeapp.se</a></p>
    </div>
  </div>
</section>
