<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Stipendiumansökningssystem för Studentföreningar.
      </p>
      <p class="text-muted">
        Utvecklat av <a href="http://www.shapeapp.se">Shape App</a>
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" data-ui-sref="scholorships.list" >Se utlysna stipendium</a>
      </p>
    </div>
  </div>
  <div>
  <div class="row">
    <div class="col-md-4">
      <h2>Om Stipendify</h2>
        <p>Detta system är ett open source projekt utvecklat som en läxa för Shape App att lära sig meanjs-projekt. Koden till detta projekt finns på github; <a href="https://github.com/cNille/stipendify">https://github.com/cNille/stipendify</a>. Där finns det instruktioner om hur du laddar ner programmet och startar upp den på din dator eller din server. Vid problem och frågor kan ni kontakta: <a href="mailto:c@shapeapp.se">c@shapeapp.se</a></p>
    </div>
    <div class="col-md-4">
      <h2>För Studentföreningar</h2>
        <p>Detta system är ett open source projekt utvecklat som en läxa för Shape App att lära sig meanjs-projekt. Koden till detta projekt finns på github; <a href="https://github.com/cNille/stipendify">https://github.com/cNille/stipendify</a>. Där finns det instruktioner om hur du laddar ner programmet och startar upp den på din dator eller din server. Vid problem och frågor kan ni kontakta: <a href="mailto:c@shapeapp.se">c@shapeapp.se</a></p>
    </div>
    <div class="col-md-4">
      <h2>För utvecklare</h2>
        <p>Detta system är ett open source projekt utvecklat som en läxa för Shape App att lära sig meanjs-projekt. Koden till detta projekt finns på github; <a href="https://github.com/cNille/stipendify">https://github.com/cNille/stipendify</a>. Där finns det instruktioner om hur du laddar ner programmet och startar upp den på din dator eller din server. Vid problem och frågor kan ni kontakta: <a href="mailto:c@shapeapp.se">c@shapeapp.se</a></p>
    </div>
  </div>
</section>
